<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <title>Kubernetes Map</title>
  </head>
    <div id="k8smap">
      <section v-if="errored">
        <p>failure fetching data from kubernetes API</p>
      </section>
      <section v-else>
        <div v-if="loading">Loading..</div>
        <div v-else>

          <! hierarchy: projects / clusters / nodes / pods / containers />

          <div class="container-fluid">
            <div class="row header">
              <div class="col-sm context">
                bw-test0 / cluster0
              </div>
              <div class="logo col-sm">
                <img src="/logo.png" width="40px">
              </div>
            </div>
            <!-- one row per cluster? -->
            <div class="row">
              <k8smap-node
                v-for="node in nodes.data.items"
                v-bind:key="node.uid"
                v-bind:node="node"
                v-bind:pods="pods"
              >
              </k8smap-node>
            </div>
          </div>

          <!--
          <ol>
            <li v-for="namespace in namespaces.data.items">
              {{ namespace.metadata.name }}
            </li>
          </ol>

          <ol>
            <li v-for="pod in pods.data.items">
              {{ pod.metadata.name }}
            </li>
          </ol>

          <ol>
            <li v-for="service in services.data.items">
              {{ service.metadata.name }}
            </li>
          </ol>
          -->
        </div>
      </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <script src="k8smap.js"></script>
  </body>
</html>
