// eslint-disable-next-line
module.exports = {
  // eslint-disable-next-line
  contexts: [
    {
      project: '',
      clusters: [
        {
          cluster: '',
          region: '',
          zone: '',
          api: {
            address: '',
            token: ''
          }
        }
      ]
    }
  ]
}
